body {
  margin: 0px;
  background: #9D9D9D;
  font-family: 'Roboto', sans-serif;
}

.top-bar {
  background: #9D9D9D;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 600px) {
  .top-bar {
    background: #9D9D9D;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.logo {
  text-decoration: none;
  width: 121px;
  height: 47px;
  left: 85px;
  top: 63px;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #E12446;
}

.logo span {
  color: #271115;
}

.primaryclass {
  display: none;
}

@media (min-width: 600px) {
  .primaryclass {
    display: block;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 600px) {
  .primaryclass1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0em 1em;
    border-radius: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .primaryclass1 .current, .primaryclass1 .primaryclasse {
    padding: 0.2em;
    text-decoration: none;
  }
}

.secondaryclass {
  display: none;
}

@media (min-width: 600px) {
  secondaryclass {
    display: inline-block;
    color: #b1131a;
  }
}

@media (min-width: 600px) {
  #mobile-exit {
    display: none;
  }
}

.mobile-menue {
  cursor: pointer;
}

@media (min-width: 600px) {
  .mobile-menue {
    display: none;
  }
}

.hero-section {
  padding: 1em;
}

.hero-section .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 4.57%;
  right: 4.11%;
  top: 13.17%;
  bottom: 52.05%;
}

.hero-section .right-hero-section {
  display: none;
}

.hero-section .lhs-sub-heading {
  left: 1.75%;
  right: 37.75%;
  top: 1.1%;
  bottom: 83.66%;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 123.3%;
  /* or 31px */
  letter-spacing: -0.005em;
  text-transform: uppercase;
  color: #624848;
  margin-bottom: 5px;
}

.hero-section .lhs-heading1 {
  height: 114.58px;
  left: 1.75%;
  right: 4.5%;
  top: 82.91px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 96.3%;
  /* or 35px */
  letter-spacing: -0.005em;
  color: #000000;
  padding: 0px 40px 0px 0px;
  margin-top: 5px;
  margin-bottom: -40px;
}

.hero-section .lhs-heading2 {
  margin-top: 0px;
  padding: 0px 40px 0px 0px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 123.3%;
  /* or 44px */
  letter-spacing: -0.005em;
  color: #8A0C0C;
}

.lhs-cta-container {
  background: #E0D7D7;
  -webkit-box-shadow: -1px 7px 3px rgba(0, 0, 0, 0.25);
          box-shadow: -1px 7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  width: 100px;
  Height: 39.09px;
}

.lhs-cta-container .lhs-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.lhs-cta-container .lhs-cta .spann {
  color: yellowgreen;
  margin-top: -3px;
  font-weight: bold;
}

.lhs-cta-container .lhs-cta .spann0 {
  margin-top: 4px;
  margin-bottom: -2px;
  font-weight: bold;
}

.test-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: blueviolet;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testp {
  padding: 1em;
  background-color: goldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.testp .testpt {
  color: white;
}

.testp1 {
  width: 64px;
  height: 64px;
  background: url(images/person.jpg) #a82424;
  /* Inside Auto Layout */
}
/*# sourceMappingURL=main.css.map */